

<header class="navbar navbar-static-top bs-docs-nav" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">notes ][</div>
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
   
    </nav>
  </div>
</header>

<div class="container">
<ul class="list-group">
  <li class="list-group-item alert alert-info" ng-repeat="note in notes">
    <span class="label label-warning">{{$index}}</span><span class="label label-primary">{{note.date}}</span> {{note.data}}
  </li>
</ul>

<textarea class="form-control" rows="25" ng-model="noteData" ng-change="checkForEnd(this)"></textarea>

<div class="footer">

</div>
</div>
